@import '../../../resources/styles/colors';
@import '../../../resources/styles/variables';

$height: 30px;
$bottom: 10px;
$spinner-size: 22px;

.Wrapper {
  position: fixed;
  left: 0;
  bottom: 0;
  height: $height + $bottom;
  width: $upload-panel-content-width;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  transform: translateY(50px);
  transition: transform 1s ease-in-out, opacity 1s ease-in-out;
  transition-delay: 0s;
  opacity: 0;
  z-index: 1000;

  &.disappear {
    transform: translateY(50px);
    opacity: 0;
  }

  &.appear {
    transform: translateY(0);
    opacity: 1;
  }
}

.PhotoUploadingProgress {
  height: $height;
  width: auto;
  min-width: 210px;
  margin-bottom: $bottom;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0 20px 0 14px;
  background-color: $black-50;

  .SpinnerWrapper {
    width: $spinner-size;
    height: $spinner-size;
    margin-top: -10px;

    .Spinner {
      display: inline-block;
      width: $spinner-size;
      height: $spinner-size;
      margin-top: 5px;
      margin-right: 10px;
      line-height: $height;
      transform: scale(0.3) translate(-100%, -85%);
      float: left;
    }
  }

  .Content {
    display: block;
    height: 100%;
    margin-left: 8px;
    line-height: $height;
    white-space: nowrap;
    font-size: 12px;
    color: $white;
    float: left;
  }
}
