@import '../../resources/styles/colors';
@import '../../resources/styles/variables';

$switch-option-height: 15px;

.SwitchOption {
  height: $switch-option-height;
  display: inline-block;

  & > * {
    display: inline-block;
    float: left;
  }

  &.disabled {
    cursor: not-allowed;

    .OptionLabel {
      cursor: not-allowed;
    }
  }

  .OptionLabel {
    font-size: 12px;
    color: $inactive-text;
    line-height: $switch-option-height;
    cursor: pointer;
    transition: color .1s ease-in;

    &:hover {
      color: $yellow2;
    }

    &.isActive {
      font-weight: 600;
      color: $dark-grey;

      &:hover {
        color: $yellow2;
      }
    }

    &.negativeOption {
      margin-right: 4px;
    }

    &.positiveOption {
      margin-left: 4px;
    }
  }
}
