.OrderButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 170px !important;
  height: 45px !important;
  font-size: 17px !important;
  font-weight: bold !important;

  img {
    margin-top: 2px;
    margin-right: 16px;
  }
}
