@import "../../resources/styles/colors";

.PhotoAppender {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;

  .BackDrop {
    width: 100%;
    height: 100%;
    background: $black-50;
  }
}
.Mobile {
  background-color: #fff;
  .PhotoEditor {
    font-size: 2px;
  }
}
