$screen-sm-max: 991px;
$screen-md-max: 1199px;
$screen-lg-min: 1200px;

@mixin respond-to($media) {
  @if $media == tablet {
    @media (min-width: $screen-sm-max) and (max-width: $screen-md-max) {
      @content;
    }
  } @else if $media == desktop {
    @media (min-width: $screen-lg-min) {
      @content;
    }
  }
}
