@import "../../resources/styles/mixins";
@import "../../resources/styles/colors";

.FileUploadButton {
  @include buttonStyle(dark);
  height: 40px !important;
  display: block;
  padding: 13px 32px !important;
  font-size: 13px !important;
  line-height: 13px !important;
  user-select: none;

  & [type="file"] {
    cursor: inherit;
    display: block;
    opacity: 0;
    position: absolute;
    left: -100px;
    top: -100px;
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    z-index: -1;
  }
  &.Mobile {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #e1e1e1;
    height: auto !important;
    position: relative;
    width: 164px;
    span {
      position: absolute;
      top: 50%;
      height: 44px;
      width: 100%;
      font-size: toRem(14);
      font-weight: 600;
      line-height: 1.69;
      letter-spacing: -0.3px;
      text-align: center;
      color: #333333;
      left: 0;
      padding-top: 70px;
      background-repeat: no-repeat;
      background-position: center center !important;
      transform: translate(0, -50%);
    }
  }
}
