@import "../../../../resources/styles/colors";
@import "../../../../resources/styles/variables";

.CloseButton {
  position: absolute;
  width: $photo-appender-header-height;
  height: $photo-appender-header-height;
  top: 0;
  right: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  border-bottom: solid 1px $border;
  border-left: solid 1px $border;
  cursor: pointer;
}

.Mobile {
  width: 24px;
  height: 24px;
  border: 0;
  right: 10px;
  top: 10px;
}
