@import "../../../../../resources/styles/colors";
@import "../../../../../resources/styles/mixins";

.SmartBoxDescriptionWrapper {
  height: 100px;
  text-align: left;
  padding: 0 14px;

  & > * {
    display: inline-block;
    float: left;
  }

  & > img {
    width: 18px;
    height: 18px;
    margin-right: 6px;
  }

  &.Mobile {
    height: auto;
    display: flex;
  }

  .SmartBoxDescription {
    height: 100px;
    font-size: 13px;
    line-height: 1.69;
    color: $dark-grey;

    ul {
      font-size: 13px;
      line-height: 1.85;
      letter-spacing: -0.3px;
      color: $dark-grey;
      list-style-type: none;

      & > li:before {
        content: "-";
        display: inline-block;
        vertical-align: middle;
        padding-right: 4px;
      }
    }
  }
}

.Mobile {
  .SmartBoxDescription {
    height: auto;
    padding: 30px 0;
    border-top: 1px solid #e1e1e1;
    h4 {
      margin: 0;
      font-size: toRem(16);
      padding-left: 24px;
      position: relative;
    }
  }
}
