@import "../../resources/styles/colors";
@import "../../resources/styles/variables";
@import "../../resources/styles/mixins";

.PhotoPreviewModal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1005;

  .BackDrop {
    width: 100%;
    height: 100%;
    background: $black-50;
  }

  .PreviewModal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 750px;
    min-width: 1100px;
    min-height: 750px;
    background: $black-70;
    box-shadow: 0 3px 7px 0 $black-35;
    z-index: 15;
    @media only screen {
      @media (min-width: 1300px) {
        width: 1100px;
      }

      @media (min-width: 1500px) {
        width: 1304px;
      }
    }

    .Photo {
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
    }

    .CloseButton {
      position: absolute;
      left: 100%;
      top: 0;
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    .CursorButton {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 60px;
      height: 60px;
      cursor: pointer;
    }

    .ActionBar {
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      height: $photo-appender-action-bar-height;
      background-color: $dark-grey;

      .TagInput {
        display: flex;
        flex-direction: row;
        align-items: center;
        flex: 1 0 auto;
        height: $photo-appender-action-bar-height;
        padding: 0 26px;
        line-height: $photo-appender-action-bar-height;

        img {
          width: 20px;
          height: 20px;
        }

        input {
          @include placeholder() {
            color: rgba(153, 153, 153, 0.5);
          }
          min-width: 400px;
          max-width: 50%;
          height: 24px;
          margin-left: 14px;
          border: none;
          background: transparent;
          color: white;
          font-size: 15px;
          letter-spacing: -0.33px;
          color: rgba(153, 153, 153, 0.5);
        }
      }

      .AlbumActions {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: $photo-appender-action-bar-height;
        padding: 0 26px;
        line-height: $photo-appender-action-bar-height;
      }
    }
  }
}
