@import "../../../resources/styles/colors";
@import "../../../resources/styles/variables";
@import "../../../resources/styles/mixins";

.AppenderModal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 750px;
  min-width: 1100px;
  min-height: 750px;
  background: $white;
  box-shadow: 0 3px 7px 0 $black-35;

  @media only screen {
    @media (min-width: 1300px) {
      width: 1100px;
    }

    @media (min-width: 1500px) {
      width: 1304px;
    }
  }

  .Header {
    width: 100%;
    height: $photo-appender-header-height;
    border-bottom: solid 1px $border;
    font-size: 18px;
    line-height: 50px;
    text-align: center;
    color: $dark-grey;
    user-select: none;
  }
}

.SpinnerWrapper {
  width: 100%;
  height: 100%;
  background-color: $black-20;

  .Spinner {
    @include absoluteCenter();
  }
}

.ErrorWrapper {
  @include cover();

  .Error {
    @include absoluteCenter();
    color: $coral;
  }
}

.Mobile {
  background-color: #fff;
  height: auto;
  min-height: 0;
  min-width: 0;
  padding: 10px;
  &.SmartBox {
    width: 100%;
    top: 0;
    left: 0;
    height: 100%;
    transform: none;
  }
  .Header {
    height: auto;
    line-height: 1;
    border-bottom: 0;
  }
  h3 {
    font-size: toRem(20);
    line-height: 160%;
  }
}
