@import "../../resources/styles/colors";
@import "../../resources/styles/mixins";

.BottomSheet {
  position: absolute;
  top: 105%;
  left: 0;
  width: 100%;
  height: 100lvh;
  background: white;
  box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
  border-radius: 0;
  padding: 30px 16px 20px;
  will-change: transform;
  transition: top 0.3s ease-in-out;
  z-index: 100;

  .Footer {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    button {
      border-radius: 6px;
      display: flex;
      width: 49.1%;
      height: 45px;
      padding: 13px 30px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      background-color: #a6a6a7;
      color: #fff;
      font-size: toRem(14);
      & + button {
        background-color: #282828;
      }
    }
  }
}

.Opened {
  top: 83px;
  transition: top 0.3s ease-in-out;
}
