@import "../../resources/styles/colors";
@import "../../resources/styles/variables";
@import "../../resources/styles/mixins";

.PhotoCanvas {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 8px;
  overflow: hidden;
}

.Trimming {
  @include absoluteCenter();
  background-color: $white;
}

.Photo {
  @include absoluteCenter();
  background-position: center;
  background-position-x: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  //box-shadow: 1px 1px 3px 0 $black-16; // 2021.06.10 이미지풀, 사진회전시 특정사진에서 그림자 표시 오류 발생
}

.Mask {
  @include absoluteCenter();

  &.gloss {
    @include paperGloss();
  }

  &.border {
    border: solid 0 $white;
  }
}

.PhotoDate {
  position: absolute;
  display: inline-block;
  visibility: hidden;
  color: $white;
  font-size: 1em;
  font-family: sans-serif;
  letter-spacing: -0.7px;
  line-height: 10px;
  transform-origin: bottom right;
  user-select: none;

  &.insertDate {
    visibility: visible;
  }
}

@each $ratio, $factor in $zoom-ratios {
  &.#{$ratio} {
    .Mask {
      border-width: 5px * $factor;
    }

    .PhotoDate {
      transform: scale($factor - 0.4);
    }
  }
}
