@import "../../../resources/styles/colors";
@import "../../../resources/styles/mixins";

$order-button-height: 45px;

.Prices {
  $original-price-height: 11px;
  $discount-price-height: 20px;
  $price-gap: 5px;
  $vertical-padding: ($order-button-height - ($original-price-height + $discount-price-height + $price-gap)) / 2;

  min-width: 110px;
  height: $order-button-height;
  padding: $vertical-padding 12px $vertical-padding 14px;
  &.Mobile {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    .originalPrice {
      margin: 0;
      font-size: toRem(16);
      font-weight: 500;
      color: #000;
      line-height: 1;
    }
    .discountedPrice {
      font-size: toRem(16);
      font-weight: 500;
      color: #ff2323;
      margin-left: 5px;
      line-height: 1;
    }
  }

  .originalPrice {
    margin-bottom: $price-gap;
    font-size: 11px;
    font-weight: bold;
    text-align: right;
    color: $inactive-text;
    line-height: $original-price-height;
    text-decoration: line-through;
  }

  .discountedPrice {
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    letter-spacing: -1px;
    line-height: $discount-price-height;
    color: $coral;

    & > span {
      margin-left: 2px;
      font-size: 15px;
    }
  }
}
