@import '../../resources/styles/colors';
@import '../../resources/styles/mixins';

.Slider {
  display: inline-block;
  position: relative;
  float: left;

  .Track {
    position: absolute;
    background-color: $grey;
    height: 1px;
    top: 50%;
    left: 0;
    right: 0;
  }

  .Tracker {
    position: absolute;
    background-color: $yellow;
    height: 1px;
    top: 50%;
    left: 0;
  }

  .HandleContainer {
    position: absolute;
    height: 100%;

    .Handle {
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      @include useImage(contain, contain);
    }
  }
}
